/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #77CC5D;
    padding: 10px;
    text-align: center;
    color: white;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

#food-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.food-item {
    background: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
